{%  extends "layout.html" %}
{% block main %}
    <form action="/cargarplata" method="post">
        <div class="mb-3">
            <label for="userid"> id de destinatario:</label>
            <input autocomplete="off"  class="form-control mx-auto w-auto" id="userid" name="userid" placeholder="userid" type="text">
        </div>
        <div class="mb-3">
            <label for="monto"> monto a cargarle: </label>
            <input autocomplete="off"  class="form-control mx-auto w-auto" id="deposito" name="deposito" placeholder="deposito" type="text">
        </div>
        <button class="btn btn-primary" type="submit">confirmar</button>
    </form>
{% endblock %}