{% extends "layout.html" %}
{% block main %}
    <form action="/register" method="post">
        <h4 class = "lista__title "> registrarse:</h4>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="nombre" name="nombre" placeholder="Nombre Completo" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="username" name="username" placeholder="nombre de usuario" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="contraseña" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="confirmar contraseña" type="password">
        </div>
        <button class="btn btn-primary" type="submit">registrarse</button>
    </form>
{% endblock%}